.nav-bar {
  height: var(--spacer-l);
  text-align: center;
}

.nav-bar ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  list-style: none;
}

.nav-bar li {
  margin: 0;
  text-align: center;
  width: 20%;
}

.nav-bar a {
  text-decoration: none;
  color: var(--primary-1);
}

.nav-bar button{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: transparent;
  border: 0 transparent;
}

#dropmenu {
  cursor: pointer;
  position: relative;
  right: 5%;
}

.nav-bar img {
  position: relative;
  top: 0.5vh;
}

.fa-download {
  color: var(--primary-light);
}

.fa-bars {
  color: var(--primary-light);
}

.fadeOut {
  animation: fadeOut 1s ease-out 0s 1 normal forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 1s ease-out 0s 1 normal forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1001px) {

  .nav-bar ul {
    width: 100%;
    display: flex !important;
    align-items: center;
    margin: 0 !important;
  }

  #dropmenu {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .nav-bar {
    width: 20%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
  }

  .nav-bar ul {
    margin-left: 200px;
    border: 0.1rem solid rgba(255, 255, 255, 0.18);
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(0.4rem);
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    align-items: flex-end;
  }

  .nav-bar li {
    text-align: center;
    width: 100%;
  }

  .nav-bar a {
    text-decoration: none;
    color: var(--secondary-2);
  }

  .nav-bar li button {
    color: var(--secondary-2);
  }

  .nav-bar li:hover {
    background-color: #7df4f240;
    border-radius: .7rem;
  }

  /*     .nav-bar img:hover .nav-bar li:nth-of-type(2), .nav-bar li:nth-of-type(3), .nav-bar li:nth-of-type(4), .nav-bar li:nth-of-type(5){
    cursor: pointer;
    display: block;
  }   */
}
